<%- include ('templates/header') %>
    <h1>Users</h1>
    <% for (let i = 0; i < users.length; i++) { %>
    <div class="d-flex flex-row justify-content-between w-50">
        <%- include('templates/user', {user: users[i]}) %>
      <form action="/promote/<%= users[i]._id %>" method="post">
        <button type="submit" class="btn btn-success">Promote to Admin</button>
      </form>
      <form action="/demote/<%= users[i]._id %>" method="post">
        <button type="submit" class="btn btn-danger">Demote to User</button>
      </form>
    </div>
<% } %> <%- include ('templates/footer') %>
